<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/tripal_styling.css') }}>
    <script defer src={{ url_for('static', filename='js/markPage.js') }}></script>
    <title>TriPal - About Us</title>
</head>
<body id="AboutUS_body">
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item">
                <a href=/Home>Home</a>
            </li>
            <li class="list-item">
                <a href=/About>About Us</a>
            </li>
            <li class="list-item">
                <a href=/ContectUs>Contact Us</a>
            </li>
        </ul>
    </nav>

    <div id="about_container">
    <h1 class="Header_aboutUs">About Us</h1>

    <p class="GeneralText">Want to travel, but couldn’t find the right partner? <br></br> 
        Whether you’re looking for one partner or four, Tripal has got your back. <br></br>
        We developed an innovative algorithm that helps you find travel partners based on your unique preferences. 
        Our platform uses personal data you provide and creates potential matches between you and your future travel mates.<br>
        So far, Tripal has created thousands of successful matches that turned into long lasting relationships.<br>
        We welcome you to join us and find the best partner for your dream journey with Tripal. </p>

    </div>
</body>
</html>