<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/myMatches.css') }}>
    <title>Tripal - My Matches</title>
    <script defer src={{ url_for('MyMatches.static', filename='myMatches.css') }}></script>
</head>
<body>

    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item">
                <a href=/MyProfile>My Profile</a>
            </li>
            <li class="list-item">
                <a href=/MyMatches>My Matches</a>
            </li>
            <li class="list-item">
                <a href=/ContectUsSignin>Contact Us</a>
            </li>
            <li class="list-item">
                <a href=/SignUp>Log Out</a>
            </li>
        </ul>
    </nav>
    {% if message %}
    <h1 style="color: red">{{ message }}</h1>
    {% endif %}
{% if matches %}
    <div id="profiles_container">
        {% for i in range(0,length) %}
            <div class="profile">
                <img src="../static/myProfilepic.jpg" alt="" class="profilePic">
                <p class="headings">Personal Info:</p>
                <p>Name: {{ matches[i][4] }} {{ matches[i][5] }}</p>
                <p>Destination: {{ matches[i][8] }}</p>
                <p>From: {{ matches[i][9] }} </p>
                <p>To: {{ matches[i][10] }}</p> <br>
                <a href=/MyMatches/view_profile/{{ matches[i][0] }}> <button type="submit">View Profile</button></a>
            </div>
        {% endfor %}
</div>
 {% endif %}
</body>
</html>