<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/myMatches.css') }}>
    <title>Tripal - My Matches</title>
    <script defer src={{ url_for('MyMatches.static', filename='myMatches.css') }}></script>
</head>
<body>

    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item">
                <a href=/MyProfile>My Profile</a>
            </li>
            <li class="list-item">
                <a href=/MyMatches>My Matches</a>
            </li>
            <li class="list-item">
                <a href=/ContectUsSignin>Contact Us</a>
            </li>
            <li class="list-item">
                <a href=/SignUp>Log Out</a>
            </li>
        </ul>
    </nav>

    <div id="profiles_container">
    <div class="profile">
        <img src="../static/shira_profile.jpg" alt="" class="profilePic">
        <p class="headings">Personal Info:</p>
        <p>Name: Shira Yahav</p>
        <p>Destination: Paris</p>
        <p>From: 07/10/22 </p> 
        <p>To: 15/10/2022</p> <br>
        <button type="submit" onclick="window.location.href='myprofile_shira.html'">View Profile</button>
    </div>
    <div class="profile">
        <img src="../static/morProfile2.jpg" alt="" class="profilePic">
        <p class="headings">Personal Info:</p>
        <p>Name: Mor Barzilay</p>
        <p>Destination: Paris</p>
        <p>From: 06/10/22 </p> 
        <p>To: 15/10/2022</p><br>
        <button onclick="onclick=window.location.href='myprofile_mor.html'">View Profile</button>
    </div>
    <div class="profile">
        <img src="../static/ofirProfile.jpg" alt="" class="profilePic">
        <p class="headings">Personal Info:</p>
        <p>Name: Ofir Zairi</p>
        <p>Destination: Paris</p>
        <p>From: 10/10/22 </p> 
        <p>To: 18/10/2022</p><br>
        <button onclick="window.location.href='myprofile_ofir.html'">View Profile</button>
    </div>
</div>
    
</body>
</html>