<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/tripal_styling.css') }}>
    <script defer src={{ url_for('static', filename='js/markPage.js') }}></script>
    <title>TriPal- Contact Us</title>
</head>
<body class= "contactBody">
    <nav class="nav" id="nav_contactUs">
        <ul class="nav-list">
            <li class="list-item">
                <a href=/Home>Home</a>
            </li>
            <li class="list-item">
                <a href=/About>About Us</a>
            </li>
            <li class="list-item">
                <a href="TripalContactUs.html">Contact Us</a>
            </li>
        </ul>
    </nav>

    <h1 id="Header_contactUs">Contact Us</h1>
    
   
        <form action=/ContectUs  method="post" id="form_contactUs" onsubmit="confirm( 'Thank you for your inquiry, we will get back to you soon!' )">
        <table  cellpadding="8" cellspacing="0">
        <tr> <td>

        <label for="Name">Name*:</label>
        </td> <td>
        <input name="Name" type="text" required maxlength="60" />
        </td> </tr> <tr> <td>
        <label for="PhoneNumber">Phone number:</label>
        </td> <td>
        <input name="PhoneNumber" type="text" required pattern="[0-9]{10}"
        required placeholder="1234567890" />
        </td> </tr> <tr> <td>
        <label for="FromEmailAddress">Email address*:</label>
        </td> <td>
        <input name="FromEmailAddress" type="text" required pattern="[^ @]*@[^ @]*.com"  />
        </td> </tr> <tr> <td>    
        <label for="Comments">Your Message*:</label>
        </td> <td>
        
        <textarea  id="your_message" name="Comments" rows="7" cols="40" required></textarea>
        </td> </tr> <tr> <td>
        * - required fields
        </td> <td> 
        <button name="skip_Submit" type="submit" id="submit_contactUs" onclick="window.location.href='myprofile_shira.html'">Submit</button>
        </td> </tr>
        </table>
        </form>
   
</body>
</html>
